{{nay-sayer message=message}}
{{yay-sayer message=message}}
{{change-sayer message=message}}

<button {{action 'say' 'Yay'}} class="yay-button">Say Yay</button>
<button {{action 'say' 'Nay'}} class="nay-button">Say Nay</button>
