<h2>Respond to State Change <small>with \{{on-action}} helper</small></h2>

<div class="left-area">
  {{#long-list classNames="long-list inline-block"}}
    {{on-action 'changePage' trigger="resetScrollTop" bubble=true}}
    <ul>
      {{#each}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#next-page tagName="button" change-page="changePage" page=page}}Next Page{{/next-page}}
  {{/long-list}}
</div>
<div class="right-area">

  {{code-snippet name="state-change-on-action.hbs"}}
  {{code-snippet name="long-list.js"}}
</div>
